<!--parallel="tests" thread-count="2"-->
<suite name="SupplierSuite">
<test name="SupplierTestone" >
<parameter name="browsername" value="CH"/>
<classes> 
<class name="Amend.Amend_Credit_NFR" />
</classes> 
</test>
<!-- <test name="SupplierTesttwo" >
<parameter name="browsername" value="CH"/>
<classes> 
<class name="Booking.Prepay_Book" />
</classes> 
</test>
<test name="SupplierTestthree" >
<parameter name="browsername" value="CH"/>
<classes> 
<class name="Booking.Credit_Book" />
</classes> 
</test> -->
</suite>